.top-section {
  background-image: url("https://image.freepik.com/free-photo/female-ophthalmologist-examining-boy-eyes-with-optometrist-trial-frame_23-2148241487.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
